# musicautobot
jupyter
matplotlib
music21
fastai
pebble

# PRNN
progress
pretty_midi

# torchvision
pillow==8.3.2
pafy
sklearn

# musicautobot
jupyter
matplotlib
music21
fastai
pebble

# PRNN
progress
pretty_midi

# torchvision
pillow==8.3.2
pafy

progressbar