# musicautobot
jupyter
matplotlib
music21
fastai
pebble

# PRNN
progress
pretty_midi

# torchvision
pillow==10.0.1
pafy
sklearn

# musicautobot
jupyter
matplotlib
music21
fastai
pebble

# PRNN
progress
pretty_midi

# torchvision
pillow==10.0.1
pafy

progressbar